VITE_ENVIRONMENT='development'

VITE_BASE_URL=

VITE_ALCHEMY_API_KEY=
VITE_WALLET_CONNECT_PROJECT_ID=

VITE_API_BASE_URL=
VITE_API_KEY=
VITE_API_SECRET=

VITE_SMART_NODES_CONTRACT_ADDRESS=
VITE_SMART_NODES_API=
VITE_SMART_NODES_PARTNER_API=

VITE_TOKEN_EXCHANGE_CONTRACT_ADDRESS=
VITE_OLD_TOKEN_EXCHANGE_CONTRACT_ADDRESS=